{% extends 'master' %}

{% block content %}

<div class="container-fluid">
<div class="row">
  <div class="col m8">
    <h3>
      h3. Loremipsumdolor sit amet.
    </h3>
    <address>
       <strong>Twitter, Inc.</strong><br /> 795 FolsomAve, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col m4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
  </div>
</div>
<div class="row">
  <div class="col m4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
  </div>
  <div class="col m4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
  </div>
  <div class="col m4">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
  </div>
</div>
<div class="row">
  <div class="col m12">
  </div>
</div>
<div class="row">
  <div class="col m4">
    <ol>
      <li>
        Loremipsumdolor sit amet
      </li>
      <li>
        Consectetur adipiscing elit
      </li>
      <li>
        Integer molestie loremat massa
      </li>
      <li>
        Facilisis in pretiumnisl aliquet
      </li>
      <li>
        Nulla volutpat aliquamvelit
      </li>
      <li>
        Faucibus porta lacus fringilla vel
      </li>
      <li>
        Aenean sit amet erat nunc
      </li>
      <li>
        Eget porttitor lorem
      </li>
    </ol>
  </div>
  <div class="col m4">
    <p>
      Loremipsumdolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquameget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu semsapien, sed vestibulumvelit. Nampurus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diamut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendumdiamvelit et dui.</em> Proin massa magna, vulputate nec bibendumnec, posuere nec lacus. <small>Aliquammi erat, aliquamvel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsumconsequat eu.</small>
    </p>
  </div>
  <div class="col m4">
    <formclass="form-horizontal" role="form">
      <div class="form-group">

        <label for="inputEmail3" class="col-sm-2 control-label">
          Email
        </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" />
        </div>
      </div>
      <div class="form-group">

        <label for="inputPassword3" class="col-sm-2 control-label">
          Password
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">

            <label>
              <input type="checkbox" /> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

          <button type="submit" class="btn btn-default">
            Sign in
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col m4">
    <h3>
      h3. Loremipsumdolor sit amet.
    </h3>
  </div>
  <div class="col m8">
  </div>
</div>
<div class="row">
  <div class="col m12">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
  </div>
</div>
<div class="row">
  <div class="col m4">
    <h2>
      Heading
    </h2>
    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentumnibh, ut fermentummassa justo sit amet risus. Etiamporta semmalesuada magna mollis euismod. Donec sed odio dui.
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>
  </div>
  <div class="col m8">
    <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
  </div>
</div>
<div class="row">
  <div class="col m8">
    <ul>
      <li>
        Loremipsumdolor sit amet
      </li>
      <li>
        Consectetur adipiscing elit
      </li>
      <li>
        Integer molestie loremat massa
      </li>
      <li>
        Facilisis in pretiumnisl aliquet
      </li>
      <li>
        Nulla volutpat aliquamvelit
      </li>
      <li>
        Faucibus porta lacus fringilla vel
      </li>
      <li>
        Aenean sit amet erat nunc
      </li>
      <li>
        Eget porttitor lorem
      </li>
    </ul>
  </div>
  <div class="col m4">
    <ul>
      <li>
        Loremipsumdolor sit amet
      </li>
      <li>
        Consectetur adipiscing elit
      </li>
      <li>
        Integer molestie loremat massa
      </li>
      <li>
        Facilisis in pretiumnisl aliquet
      </li>
      <li>
        Nulla volutpat aliquamvelit
      </li>
      <li>
        Faucibus porta lacus fringilla vel
      </li>
      <li>
        Aenean sit amet erat nunc
      </li>
      <li>
        Eget porttitor lorem
      </li>
    </ul>
  </div>
</div>
</div>

{% endblock %}
